<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liunianyishi.intelligenttransportation">

    <!-- 对于Android 日常权限请求 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Util.mSharedContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoAction">
        <activity
            android:name=".View.WelcomeActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- TODO: 对于主界面,使用SingleInstance启动模式(单实例) -->
        <activity
            android:name=".View.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />
        <activity
            android:name=".View.LoginActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>